//Color Theme

// Primary Colors
$primary-color: #ef233c;
$primary-color-dark: #d90429;

// Secondary Colors
$secondary-color: #8d99ae;
$secondary-color-dark: #2b2d42;

// Grayscale  Colors
$gray-light: #edf2f4;
$white: #fff;
$black: #000;
